language: scala
sudo: false
jdk: openjdk8
cache:
  directories:
    - $HOME/.ivy2
matrix:
  include:
    - scala: 2.11.12
      env: TEST_SPARK_VERSION="2.2.2"
    - scala: 2.11.12
      env: TEST_SPARK_VERSION="2.3.2"
    - scala: 2.12.8
      env: TEST_SPARK_VERSION="2.4.0"
script:
  - sbt -Dspark.testVersion=$TEST_SPARK_VERSION ++$TRAVIS_SCALA_VERSION coverage test
  - sbt ++$TRAVIS_SCALA_VERSION assembly
  - sbt ++$TRAVIS_SCALA_VERSION scalastyle
  - sbt ++$TRAVIS_SCALA_VERSION "test:scalastyle"
  #- sbt ++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues
after_success:
  - bash <(curl -s https://codecov.io/bash)
